body{
    background-color: rgba(124, 124, 124, 0.5);
    background-image: url("assets/background1.png");
    background-attachment: fixed;
}

h1 {
    margin: auto;
    margin-bottom: 4rem;
    text-align: center;
}

nav{
    background-color: rgba(100, 100, 100, 0.5);
    height: 3rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 0rem;
}

a{
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: center;
}

/* index.php page   */

.title{
font-size: 5rem;
margin-top: 1rem;
text-shadow: 2px 2px gray;
}

.textBlock{
    background-color: rgba(255, 255, 255, 0.15);
    filter: grayscale(10%);
    width: 40%;
    margin: auto;
    padding: 2rem 4rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 1rem 1rem rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px gray;
}

.titles{
    font-family: 'Old Standard TT', serif;
    background: -webkit-linear-gradient(120deg, rgb(223, 0, 0), rgb(17, 37, 219));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 3rem;
    margin-top: 0rem;
    padding-top: 0;
    
}

.links{
    width: 12rem;
    display: flex;
    margin-left: 20rem;
    margin-right: 10rem;
    margin-top: 0rem;
    line-height: 2.5rem;
}

.navButton{
    border: 0.2rem rgb(43, 77, 43) solid;
    border-radius: 45px;
    background-color: rgb(93, 168, 93);
    color: white;
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    transition-duration: 500ms;
}

.navButton:hover{
    transition-duration: 0.3s;
    background-color: rgb(142, 216, 142);
}

.addPokemonBtn {
    color: white;
    border: 0.2rem rgb(26, 127, 134) solid;
    border-radius: 5px;
    background-color: rgb(41, 191, 202);
    width: 10rem;
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2.5rem;
    transition-duration: 500ms;
}

.addPokemonBtn:hover{
    transition-duration: 0.3s;
    background-color: rgb(163, 220, 224)
}

/* Pokedex */

.pokedexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 105rem;
    margin: auto;
    margin-top: 2rem;
    padding: 0.2rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.pokedexUnit{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to top right, rgb(73, 155, 202), rgb(165, 209, 235));
    width: 15rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    transition-duration: 500ms;
}

.pokedexUnit:hover{
    transition-duration: 500ms;
    transform: skewX(-10deg);
    background-image: linear-gradient(to top right, rgb(73, 202, 84), rgb(161, 226, 167));
}

.name {
    font-size: 2rem;
    text-align: center;
}

.idText{
    font-size: 1.5rem;
    text-align: center;
}

.type{
    font-size: 1.5rem;
}

.pokedexCounter{
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

/* Individual pokemon page */

.unitContainer{
    background-color: rgba(255, 255, 255, 0.15);
    filter: grayscale(10%);
    width: 40%;
    margin: auto;
    padding: 2rem 4rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 1rem 1rem rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px gray;
}

.unitName {
    font-size: 3rem;
    text-align: center;
}

.deleteBtn{
    background-color: rgba(255, 0, 0, 0.15);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    width: 8rem;
    height: 4rem;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 500ms;
}

.deleteBtn:hover{
    transition-duration: 500ms;
    background-color: rgba(255, 0, 0, 0.75);
}

/* Add pokemon page */

.addPokemonForm{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    width: 50%;
    margin: auto;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border: 3px solid black;
    font-family: 'Old Standard TT', serif;
}

.formTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    font-size: 4rem;
    text-align: center;
}

.inputLabel{
    font-size: 2rem;
}

.pokeInputField{
    margin-bottom: 1rem;
}

.inputError{
    color: red;
}

.submitBtn{
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(42, 169, 207, 0.5);
    font-family: 'Old Standard TT', serif;
    font-size: 2rem;
    width: 8rem;
    height: 4rem;
    margin: auto;
    border: 0px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 500ms;
    transform: scale(1, 1);
}

.submitBtn:hover{
    transition-duration: 500ms;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(42, 169, 207, 1);
    transform: scale(1.5, 1.5);
    box-shadow: 0 0 20px rgba(42, 169, 207, 1);
}


.footerText{
   font-size: 1.5rem;
   width: 40%;
   text-align: center;
   margin: auto;
   margin-bottom: 0.5rem;
   margin-top: 0.5rem; 
}

.pokedexLink{
    margin: auto;
}

.pokeballsvg{

    transition-duration: 500ms;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
}


.pokeballsvg:hover{
    transition-duration: 500ms;
    transform-origin: 50% 50%;
    transform: scale(1.5, 1.5);
}

.pokeballText {
    font-size: 3rem;
}